@import "tailwindcss";



/* ===== Swiper styles ===== */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    opacity: 1 !important;
    transition: background-color 0.3s, opacity 0.3s;
    background-color: #fff !important;

}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--color-primary) !important;
}


*{
    box-sizing: border-box;
}

body{
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    height: 100%;

}

html{
    height: 100%;
}

.inter{
    font-family: var(--font-inter), serif;
}

.sora{
    font-family: var(--font-sora), serif;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-primary: #ABDD40;
    --color-primary-hover: #89b925;
    --color-black: #1C2635;
    --color-background: #F5F5F5;
    --color-gray: #6D737A;
}
h3{
    font-size: 21px;
    font-weight: bold;
}

*{
    --webkit-scrollbar-width: 0;
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-color: transparent transparent;

}
